@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 8 8 39;
    --foreground: 245 245 247;
  }
  
  body {
    @apply bg-threshold-500 text-threshold-50;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
